/* CLASH DISPLAY FONT */

@font-face {
    font-family: "Clash Display";
    src: url("../assets/fonts/ClashDisplay/ClashDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Clash Display";
    src: url("../assets/fonts/ClashDisplay/ClashDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Clash Display";
    src: url("../assets/fonts/ClashDisplay/ClashDisplay-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Clash Display";
    src: url("../assets/fonts/ClashDisplay/ClashDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ======================================================
   BASE TYPOGRAPHY
====================================================== */

body{
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    color: var(--color-text-primary);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
.logo{
    font-family: var(--font-heading);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
}

h1{
    font-size: clamp(4rem,8vw,var(--font-size-display));
}

h2{
    font-size: clamp(2.5rem,5vw,var(--font-size-h2));
}

h3{
    font-size: clamp(1.8rem, 4vw, var(--font-size-h3));
}

h4{
    font-size: clamp(1.5rem, 3vw, var(--font-size-h4));
}

p{
    max-width: 60ch;
    font-size: var(--font-size-body);
}

small{
    font-size: var(--font-size-caption);
    letter-spacing: var(--letter-spacing-wide);
    text-transform: uppercase;
}